@media screen and (max-width: 910px) {
    .container {
        padding: 0.5rem 5rem;
    }

    .container-main {
        padding: 0.75rem 5rem;
    }
}

@media screen and (max-width: 740px) {
    #main {
        margin-top: 14rem;
    }

    .container {
        padding: 0.5rem 1.5rem;
    }

    .container-main {
        padding: 0.75rem 2rem;
    }

    #header .header--nav .header--nav-links {
        flex-direction: column;
        gap: 0.25rem;
    }

    #about .about--img {
        display: none;
    }
}

@media screen and (max-width: 675px) {
    #main {
        margin-top: 14rem;
    }

    .container {
        padding: 0.5rem 1.5rem;
    }

    .container-main {
        padding: 0.75rem 1.5rem;
    }

    #header .header--nav .header--nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    #header .header--nav .header--nav-links .header--nav-link:not(:last-child) {
        padding-right: 1.25rem;
    }
}

@media screen and (max-width: 600px) {
    #main {
        margin-top: 14rem;
    }

    #header .header--nav .header--nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .container {
        padding: 0.5rem 1.25rem;
    }

    .container-main {
        padding: 0.75rem 1.55rem;
    }

    #projects .projects--list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contact .contact--wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}
