@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");

:root {
    --main-font: "Montserrat", sans-serif;

    --font-color: #404040;
    --font-size-big: 3rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 0.95rem;

    --main-color: #0f4c75;
    --secondary-color: #e9f8f5;
    --bg-color: #b0d9ff;
}

* {
    font-family: var(--main-font);
    color: var(--font-color);
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    color: var(--main-color);
    font-size: var(--font-size-big);
}

h2 {
    color: var(--main-color);
    font-size: var(--font-size-medium);
    text-align: center;
}

h3 {
    color: var(--main-color);
    margin-bottom: 0.25rem;
}

p {
    line-height: 2rem;
}

.container {
    padding: 0.5rem 10rem;
}

.container-main {
    padding: 2rem 10rem;
}

.divider {
    height: 3px;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 3rem;
    background-color: var(--main-color);
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--bg-color);
    color: var(--font-color);
}

/* MAIN */
#main {
    margin-top: 3rem;
}

/* HEADER */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    box-shadow: 0px 0px 11px 8px rgba(0, 0, 0, 0.05);

    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;

    z-index: 1;
}

#header .header--logo .header--logo-link {
    font-size: var(--font-size-medium);
    color: var(--main-color);
    font-weight: 700;
}

#header .header--nav .header--nav-links {
    display: flex;
}

#header .header--nav .header--nav-links .header--nav-link > a {
    font-weight: 500;
    padding-bottom: 0.75rem;
    transition: 0.1s ease-in-out;
}

#header .header--nav .header--nav-links .header--nav-link > a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

#header .header--nav .header--nav-links .header--nav-link:not(:last-child) {
    padding-right: 1.75rem;
}

/* ABOUT */
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about .about--img {
    background: url("../images/erin-image.png") no-repeat;
    height: 577px;
    width: 548px;
    display: inline-block;
    margin-bottom: 3rem;
    transition: 0.2s ease-in-out;
}

#about .about--img:hover {
    background: url("../images/erin-on-hover.png") no-repeat;
}

/* EDUCATION */
#education .education--list {
    margin-bottom: 1.5rem;
}

/* PROJECTS */
#projects .projects--list {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.projects--item {
    position: relative;
    max-width: 100%;
}

.projects--list h3 {
    margin-top: 1rem;
}

.projects--item img.img-secondary {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.2s;
}

.projects--item:hover img.img-secondary {
    opacity: 1;
    cursor: pointer;
}

/* SKILLS */
#skills > div:not(:last-child) {
    margin-bottom: 2rem;
}

#skills .skills--list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#skills .skills--list .skills--list-item {
    border: none;
    border-radius: 0.75rem;
    padding: 0.5rem 1.25rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;

    color: white;
    background-color: var(--main-color);

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#skills .skills--list .skills--list-item:hover {
    color: var(--main-color);
    background-color: var(--bg-color);
}

/* CONTACT */
#contact .contact--wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact .contact--form form {
    display: flex;
    flex-direction: column;
}

#contact .contact--text .contact--element:not(:last-child) {
    margin-bottom: 2rem;
}

/* FOOTER */
#footer {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

#footer > div {
    display: flex;
    flex-direction: column;
}

#footer .footer--title {
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}

#footer .footer--title > a {
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}

#footer .footer--element > a {
    color: white;
}

#footer .footer--element:not(:last-child) {
    margin-bottom: 0.5rem;
}

#footer .footer--social i {
    color: white;
    font-size: var(--font-size-medium);
    margin-right: 1rem;
}

/* DEMO */
.menu {
    display: none;
    font-size: 2.25rem;
    color: var(--main-color);
}
